/* font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838383;
    line-height: 1.85;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

ul[class], ol[class] {
    padding: 0;
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto ;
}

body, h1, h2, h3, h4, h5, h6, p, ol[class], ul[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {font: inherit}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}



/* Container */
.container {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}



/* Section */
.section {
    padding: 135px 0;
}

.section--dark {
    margin: 0 3.125%;

    background-color: #202b30;
}

.section--white {
    margin: 0 3.125%;
}

.section--gray {
    margin: 0 3.125%;

    background-color: #f8f8f8;
}

.section--designs {
    margin: 0 3.125%;

    background: url(/images/features-designs/features-designs-bg.jpg) 50% 50%/cover no-repeat;

}

.section--gallery {
    padding-bottom: 0;
}

/* Intro */
.intro {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 90vh;

    background-size: cover;
    background-image: url(/images/intro/bg.jpg);
    background-color: #656567;
}

.intro__inner {
    margin-bottom: 60px;

    text-align: center;
    color: #fff;
}

.intro__title {
    max-width: 890px;
    margin: 0 auto 50px;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
}

.intro__subtitle {
    max-width: 650px;
    margin: 0 auto;

    font-size: 16px;
    font-weight: 300;
}

.intro__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 415px;
    margin: 0 auto;
}



/* Button */
.button {
    display: inline-block;
    padding: 10px 0;
    width: 190px;
    
    text-align: center;
    color: #fff;
    text-decoration: none;

    border: 2px solid #000;

    transition: all .1s linear;
}

.button--intro {
    border: 2px solid #fb414e;
}

.button--features-dark {
    border: 2px solid #fff;

    margin-top: 50px;
}

.button--features-white {
    margin-top: 50px;

    color: #1f1f1f;
}

.button:hover {
    color: #fff;

    background-color: #000;
}

.button--intro:hover {
    color: #fff;
    
    background-color: #fb414e;
}

.button--features-dark:hover {
    color: #111111;
    font-weight: 700;

    background-color: #ffffff;
}


/* Header */
.header {
    position: absolute;
    z-index: 1000;

    width: 100%;
    margin-top: 40px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* logo */
.logo {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: 900;
    vertical-align: top;
}

.logo--footer {
    margin-top: -20px;
}

.logo-dot {
    color: #fb414e;
}


/* Nav */
.nav__li {
    display: inline;
    margin: 0 26px;
}

.nav__li:last-child {
    margin: 0 0 0 26px;
}

.nav__link {
    position: relative;

    color: #ffffff;
    font-weight: 500;

    cursor: pointer;
}

.nav__link:after {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    display: block;
    content: '';
    margin-top: 3px;
    height: 2px;
    width: 100%;
    opacity: 0;

    background-color: #fb414e;

    transition: all .1s linear;
}

.nav__link:hover:after {
    opacity: 1;
}

/* First-info */
.first-info {
    margin-bottom: -85px;
}

.first-info__inner {
    position: relative;
    top: -85px;
    display: flex;
    justify-content: space-between;
}

.first-info__item {
    display: flex;
    flex-direction: column;
    padding: 75px 55px;
    max-width: 32.3%;

    text-align: left;
    
    background-color: #202b30;

    transition: all .1s linear;
}

.first-info__item:hover {
    background-color: #fb414e;
}

.first-info__image {
    margin-bottom: 40px;
}

.first-info__icon {
    display: inline-block;
}

.first-info__text-content {
    color: #fff;
}

.first-info__title {
    font-size: 20px;
    font-weight: 500;
}

.first-info__title::after {
    content: "";
    display: block;
    height: 3px;
    margin: 27px 0 30px;
    width: 50px;

    background-color: #fff;
}

.first-info__text {
    font-weight: 300;
}



/* Services */
.services {
    text-align: center;
}

.services__header {
    margin-bottom: 120px;
}

.services__suptitle {
    color: #fb414e;
    font-weight: 700;
    text-transform: uppercase;
}

.services__title {
    margin: 0 auto 20px;

    color: #1f1f1f;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

.services__title--highlight {
    color: #fb414e;
}

.services__subtitle {
    margin: 0 auto;
    max-width: 680px;

    font-weight: 300;
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-item {
    width: 25.1%;
    margin-bottom: 65px;
}

.services-item__icon {
    margin: 0 auto 10px;
}

.services-item__title {
    margin-bottom: 5px;

    color: #1f1f1f;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.services-item__text {
    padding: 0 10px;

    font-weight: 300;
}


/* features */

.features {
    display: flex;

}

.features--dark {
    color: #ffffff;
}

.features-video {
    display: flex;
    align-items: center;
    width: 50%;
}

.features-video__wrapper {
    position: relative;
}

.features-video__overlay {
    position: absolute;
    top:50%;

    width: 100%;

    transform: translateY(-50%);
}

.features-video__play {
    margin: 0 auto;
}

.features-twice-image__wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.features__header {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.features__header--logo {
    text-align: right;
}

.features__title {
    margin-bottom: 35px;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.features__title--gray {
    color: #1f1f1f;
}

.features__text {
    font-weight: 300;
}

.features__text p {
    margin-bottom: 30px;
}

.features__text p:last-child {
    margin-bottom: 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 50%;
}

.features-list__item {
    width: 50%;
    padding-right: 50px;
}

.features-list__title {
    margin-bottom: 5px;

    color: #1f1f1f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.features-logo {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.features-logo__item {
    position: relative;

    width: 50%;
}

.features-logo__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.features-info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.features-info__item {
    width: 45%;
}

.features-info__icon {
    margin-bottom: 10px;
}

.features-info__title {
    margin-bottom: 10px;

    color: #5e5e5e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;

}
/* gallery */
.gallery__menu {
    margin-bottom: 50px;
}

.gallery__ul {
    text-align: center;
}

.gallery__li {
    display: inline;
    margin: 0 25px;
}

.gallery__link {
    position: relative;

    color: #a4a4a4;

    text-transform: uppercase;
    text-decoration: none;

    transition: color .1s linear;
}

.gallery__link:after {
    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    content: '';
    width: 100%;
    height: 2px;
    margin-top: 3px;
    opacity: 0;
    
    background-color: #1f1f1f;
    
    transition: all .1s linear;
}

.gallery__link:hover {
    color: #1f1f1f;
}

.gallery__link:hover:after {
    opacity: 1;
}

.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__item {
    border-right: 9px solid #fff;
    border-bottom: 9px solid #fff;

    transition: opacity .1s linear;
}

.gallery__item:hover {
    opacity: .5;
}


/* contacts */
.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
}

.contacts__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;

    text-align: right;
}

.contacts__header p {
    margin-bottom: 30px;
}

.contacts__title {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}

.contacts__text {
    font-weight: 300;
}

.contacts__form {
    margin-top: 25px;
    width: 50%;
}

.contacts__input {
    padding: 0 15px;

    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.contacts__input--twice {
    width: 48%;
}

.contacts__input::-moz-placeholder { 
    color: #000000;
    font-size: 14px;
    font-weight: 300; 
}
.contacts__input::-webkit-input-placeholder { 
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

.contacts__textarea {
    padding: 0 15px;

    width: 100%;
    min-width: 100%;
    max-height: 268px;
    min-height: 268px;
}

.contacts_textarea::-moz-placeholder {
    color: #000000;
    font-size: 14px;
    font-weight: 300; 
}

.contacts__textarea::-webkit-input-placeholder {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

.contacts__input--select {
    padding: 0 15px;
    
    color: #000000;
    font-size: 14px;
    font-weight: 300; 
}

.contacts__button {
    width: 100%;
    padding: 9px 0;

    color: #ffffff;

    border: none;
    background-color: #fb414e;
}


/* footer */
.footer {
    padding: 90px 0 60px;

    background-color: #202b30;
}

.footer__inner {
    color: #ffffff;
    display: flex;
}

.footer__header {
    width: 50%;
}

.footer__description {
    margin: 80px 0 15px;

    font-weight: 500;
}

.footer__address {
    margin-bottom: 80px;

    font-weight: 300;
}

.footer__image {
    display: inline;
    margin-right: 24px;
}

.footer-content {
    width: 50%;

    text-align: right;
}

.footer-content__menu {
    margin-bottom: 90px;
}

.footer-content__ul {
    display: flex;
    justify-content: space-between;
}

.footer-content__li {
    display: block;
    
    /* margin: 0 25px; */
}

.footer-content__li:last-child {
    /* margin: 0 0 0 25px; */
}

.footer-content__link {
    position: relative;

    font-weight: 500;

    cursor: pointer;
}

.footer-content__link:after {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    content: '';
    display: block;
    margin-top: 3px;
    height: 2px;
    width: 100%;
    opacity: 0;

    background-color: #fb414e;
    transition: all .1s linear;
}

.footer-content__link:hover:after {
    opacity: 1;
}

.footer-content__description {
    margin-bottom: 25px;

    font-weight: 500;
}

.footer-content__form {
    display: flex;
    width: 100%;
    margin-bottom: 95px;
}

.footer-content__input {
    padding: 0 15px;
    width: 80%;

    border: none;
}

.footer-content__input::-moz-placeholder { 
    color: #848484;
    font-size: 14px;
    font-weight: 300; 
}
.footer-content__input::-webkit-input-placeholder { 
    color: #848484;
    font-size: 14px;
    font-weight: 300;
}

.footer-content__button {
    padding: 7px 0;
    width: 20%;

    color: #ffffff;

    border: none;
    background-color: #fb414e;
}

.footer-content__copyright {
    color: #586165;
    font-size: 14px;
    font-weight: 300;
}


/* Media --------------------------------------------------------------------- 1345 */
@media (max-width: 1345px){
    /* header */
    .header
}
/* Media --------------------------------------------------------------------- 990 */
@media (max-width: 990px){}
/* Media --------------------------------------------------------------------- 840 */
@media (max-width: 840px){}
/* Media --------------------------------------------------------------------- 770 */
@media (max-width: 770px){}
/* Media --------------------------------------------------------------------- 575 */
@media (max-width: 575px){}